<h2>Form submitted!</h2>

<p>Thank you for submmiting the form:</p>
<p>The singer(s) will be: {{singers}}</p>
<p>And the song is: {{song}}</p>

<a class='btn btn-primary' href='/'>Back to the form</a>